@import "tailwindcss";

:root {
  --color-zezo-orange: #f2a624;
  --color-zezo-dark: #0a0a0a;
  --color-zezo-black: #000000;
  --color-zezo-gray: #1a1a1a;
}

body {
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-zezo-black);
  color: white;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}